.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--branco);
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__botao {
  display: none;
}

.container_imagem {
  padding: 1em;
}

.container__texto {
  display: none;
}

.cabecalho__menu {
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--branco);
}

.container__botao:checked ~ .lista-menu {
  display: flex;
  flex-direction: column;
}

.container__botao:checked ~ .container__rotulo > .container_imagem {
  background-image: url("../assets/img/Menu\ Aberto.png");
}

.container__botao:checked + .container__rotulo {
  background: var(--azul-degrade);
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__item {
  font-size: 1em;
  line-height: 24px;
}

.lista-menu__link {
  font-weight: 400;
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
  text-transform: uppercase;
}

.container__titulo{
  display: none;
}

.opcoes {
  display: none;
}

.opcoes__button {
  display: none;
}

@media screen and (min-width: 1024px) {

  .container__titulo--negrito, .container__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .cabecalho__menu  {
    display: none;
  }

  .container__titulo{
    display: block;
    font-weight: 400;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
    margin: 0 5em;
    position: relative;
  }

  .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link{
    text-decoration: none;
    color: var(--preto);
  }

  .opcoes__button:checked ~ .opcoes__rotulo > .opcoes__item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .opcoes__item {
    padding: 2em 1em;
  }

  .container__imagem-transparente {
    display: none;
  }

  .opcoes__button:checked ~ .opcoes__menu {
    display: flex;
    flex-direction: column;
  }

  .opcoes__menu{
    position: absolute;
    top: 100%;
    height: 40vh;
    padding: 1em;
    background-color: var(--branco);
  }

  .opcoes__button:checked ~ .lista-menu {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .lista-menu__item:hover{
    background: var(--azul-degrade);
  }

  .lista-menu__item:hover > .lista-menu__link{
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }

}


@media screen and (min-width: 1728px) {
  .container_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .container__texto {
    display: inline-block;
    color: var(--preto);
    font-size: 20px;
  }

  .cabecalho {
    padding: 0 2em;
  }

}